[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
funcsigs = "*"
docker-py = "*"
"backports.ssl_match_hostname" = {version = "*",markers = "python_version < '3.0'"}
coverage = "*"
sphinx = "<3"
taskc = {editable = true,path = "."}
flake8 = "*"

[packages]
six = "*"
attrs = "*"
